<a href="https://colab.research.google.com/github/iamsorri/class2022Spring/blob/main/20220321.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas



> Python Data Analysis LIbrary (엑셀 파일)

*   엑셀 파일(.csv)을 불러오는 방법, manipulate하는 방법, etc.
*   일부의 정보에만 access, 변경, 수정 *(ex. list/string에서 특정 정보에 인덱싱)*
*   csv = comma seperated value = comma로 정보가 분리되어 있는 파일



> dataframe 만들기

*   기존의 csv 파일을 pd.read_csv() 통해 load
*   dict 변수를 통으로 적어서 만들기
*   pd.Series()을 통해 column의 내용을 먼저 만든 후에 dict로 만들기



---

**importing libraries**


> pandas를 쓰기 위해 import 해서 패키지를 불러와야 함

In [ ]:
import pandas as pd



---

**Loading csv file**


*   df = data frame (엑셀 타입으로 생긴 변수)
*   df.size = rows * columns / df.ndime = 차원 / df.shape = (row, column)
*   df.describe = 기본적인 통계 정보

In [ ]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
df
#read_csv = funtion(pd 안에 있음) = (엑셀 파일명)을 read 해옴
#read를 하고, df라는 변수로 받아서 print(df)를 한 것

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
print(df.size); print(df.ndim); print(df.shape)
#df.ndim = 17000rows*9columns = 2차원

153000
2
(17000, 9)

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000



---

**saving to CSV**

> 메모리에 잡혀있는 변수의 형태인 data frame을 파일의 형태로 저장할 때 *(내 컴퓨터에 받으려면 다시 다운로드 받아야 함)*


*   csv 파일은 중요한 value에 해당하는 것만 저장하는 general한 형태 (xls 파일과 비교)

In [ ]:
df.to_csv('california_housing_train.csv')



---

**Constructing a DataFrame using dict**

> csv 파일을 통하는 것이 아니라, 처음부터 만들기


*   dict는 key:value로 나뉨
*   value는 list로 이루어짐, 각 value들의 list의 item 수는 모두 같아야 함
*   dict의 한 item당 한 column이 됨

In [ ]:
# Some input data - a small sample of the iris dataset
data = {'sepal_length': [6.9, 6.9, 4.8, 5.4, 4.6],
        'sepal_width': [3.2, 3.1, 3.4, 3.0, 3.6],
        'petal_length': [5.7, 5.1, 1.9, 4.5, 1.0],
        'petal_width': [2.3, 2.3, 0.2, 1.5, 0.2],
        'species': ['virginica', 'virginica', 'setosa', 'versicolor', 'setosa']}
#dict의 item 5개, key:value로 나뉨

df = pd.DataFrame(data)
#pandas에 있는 dataframe 함수에 data를 입력으로 넣어주면 dataframe을 만들어준다 
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa



---

**Constructing a DataFrame using pd.Series**



> 한 column의 내용 부분만 series 함수로 따로
구성하고 dict로 만듬

In [ ]:
sepal_length = pd.Series([6.9, 6.9, 4.8, 5.4, 4.6])
sepal_width = pd.Series([3.2, 3.1, 3.4, 3.0, 3.6])
petal_length = pd.Series([5.7, 5.1, 1.9, 4.5, 1.0])
petal_width = pd.Series([2.3, 2.3, 0.2, 1.5, 0.2])
species = pd.Series(['virginica', 'virginica', 'setosa', 'versicolor', 'setosa'])

df = pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})
df

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa



---

**Changing column names**


> column명을 수정할 때 ex. SPECIES -> species

In [ ]:
df.columns  #df.column 하면 위 표에서 column명만 나옴

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'SPECIES'],
      dtype='object')

In [ ]:
# Change the columns
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']  #list로 묶기
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa



---

**Accesing columns**


*   특정 칼럼만 가지고 오고 싶을 때
*   df.loc[low, column]
*   항목 추가

In [ ]:
# Access one column 
df.loc[:, 'sepal_length']   #콜론(:)은 전부 다 -> 행(low)은 전부 다

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [ ]:
# Access one column (short-hand)
df['sepal_length']

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [ ]:
# Access one column (shortest-hand)
df.sepal_length

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [ ]:
# Access two columns
df.loc[:, ['sepal_length', 'sepal_width']]   #2개를 적을 때는 list로 묶기

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

In [ ]:
# Access two columns (short-hand)
df[['sepal_length', 'sepal_width']]

  sepal_length sepal_width
0          6.9         3.2
1          6.9         3.1
2          4.8         3.4
3          5.4         3.0
4          4.6         3.6



---

**Accessing rows**

In [ ]:
# Access one row 
df.loc[3, :]

sepal_length           5.4
sepal_width            3.0
petal_length           4.5
petal_width            1.5
species         versicolor
Name: 3, dtype: object

In [ ]:
# Access two rows
df.loc[[3, 0], :]

   sepal_length  sepal_width  petal_length  petal_width     species
3           5.4          3.0           4.5          1.5  versicolor
0           6.9          3.2           5.7          2.3   virginica

In [ ]:
# Access a range of rows
df.loc[2:5, :]   #5는 빠지고 2, 3, 4

  sepal_length sepal_width petal_length petal_width     species new_column
2          4.8         3.4          1.9         0.2      setosa        1.0
3          5.4         3.0          4.5         1.5  versicolor        1.0
4          4.6         3.6          1.0         0.2      setosa        1.0

In [ ]:
# Filter keeping only rows with `sepal_length` > 5
df[df.sepal_length > 5]

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
3           5.4          3.0           4.5          1.5  versicolor



---

**Accessing a Cell**

In [ ]:
df.loc[:, 'sepal_length'][4]    #sepal_length 통으로 가져왔다가 그 중 4 low

4.6

In [ ]:
df['sepal_length'][4]

4.6

In [ ]:
df.sepal_length[4]

4.6



---

**Adding/Removing new columns**


> df['column name'] = [a, b, c, d]

In [ ]:
df['new_column'] = 1
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,1
2,4.8,3.4,1.9,0.2,setosa,1
3,5.4,3.0,4.5,1.5,versicolor,1
4,4.6,3.6,1.0,0.2,setosa,1

In [ ]:
df['new_column'] = [1, 2, 3, 4, 5]
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,2
2,4.8,3.4,1.9,0.2,setosa,3
3,5.4,3.0,4.5,1.5,versicolor,4
4,4.6,3.6,1.0,0.2,setosa,5

In [ ]:
df = df.drop('new_column', axis=1)    # axis=1: column
#df.drop('coulumn/low name', axis=1/0)
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa



---

**Adding/Removing new rows**


> df.loc[low, column] = [a, b, c, d]

In [ ]:
df.loc[5, :] = ''   #blank string
df

  sepal_length sepal_width petal_length petal_width     species new_column
0          6.9         3.2          5.7         2.3   virginica        1.0
1          6.9         3.1          5.1         2.3   virginica        1.0
2          4.8         3.4          1.9         0.2      setosa        1.0
3          5.4         3.0          4.5         1.5  versicolor        1.0
4          4.6         3.6          1.0         0.2      setosa        1.0
5

In [ ]:
df = df.drop(5, axis=0) # axis=0: row
df

  sepal_length sepal_width petal_length petal_width     species new_column
0          6.9         3.2          5.7         2.3   virginica        1.0
1          6.9         3.1          5.1         2.3   virginica        1.0
2          4.8         3.4          1.9         0.2      setosa        1.0
3          5.4         3.0          4.5         1.5  versicolor        1.0
4          4.6         3.6          1.0         0.2      setosa        1.0